body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
    margin:0;
    padding:40px;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

form{

    width:500px;

    margin:auto;

    background:white;

    padding:30px;

    border-radius:10px;

    box-shadow:0 0 10px rgba(0,0,0,0.2);

}

label{

    display:block;

    margin-top:15px;

    margin-bottom:8px;

    font-size:20px;

}

input,select{

    width:100%;

    padding:12px;

    font-size:16px;

    margin-bottom:10px;

    box-sizing:border-box;

}

input[type="submit"]{

    background:green;

    color:white;

    border:none;

    cursor:pointer;

    margin-top:20px;

    font-size:18px;

}

input[type="submit"]:hover{

    background:darkgreen;

}

.result{

    width:500px;

    margin:30px auto;

    background:white;

    padding:20px;

    border-radius:10px;

    text-align:center;

    box-shadow:0 0 10px rgba(0,0,0,0.2);

}

.result h2{

    color:#333;

}

.result h1{

    color:green;

}